Scrapy==1.1.2
Django==1.8.13
psycopg2==2.6.1
feedparser==5.2.1
redis==2.10.5
pyquery==1.2.13
requests==2.10.0
Pillow==3.2.0
django-redis==4.4.3
isodate==0.5.4
eventlet==0.19.0
dateparser==0.4.0
regex==2016.6.24
arrow==0.8.0
scrapy-djangoitem==1.1.1
plan==0.5
tldextract==2.0.1
python-Levenshtein==0.12.0
django-mailgun==0.9.1
